<html lang="en"
      class="wf-flaticon-n4-inactive wf-lato-n7-active wf-lato-n4-active wf-simplelineicons-n4-active wf-lato-n3-active wf-lato-n9-active wf-fontawesome5solid-n4-active wf-fontawesome5regular-n4-active wf-fontawesome5brands-n4-active wf-active">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Secretaria de Seguridad | Gobierno de La Rioja</title>
    <link rel="icon" href="{{ asset('assets/img/favicon-32x32.jpg') }}" sizes="32x32">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">


    <!-- Fonts and icons -->
    <script src="{{ asset('assets/js/plugin/webfont/webfont.min.js') }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" media="all">
    <script>
        WebFont.load({
            google: {"families": ["Lato:300,400,700,900"]},
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                urls: ['{{ asset('assets/css/fonts.min.css') }}']
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/atlantis.css') }}">

</head>
<body class="login">
<div class="main-header">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="white">
        <a href="#" class="logo ">
            <img src="{{ asset('assets/img/logo_red.png') }}" alt="navbar brand" class="navbar-brand mt-3">
        </a>
    </div>
    <!-- End Logo Header -->
</div>
<div class="wrapper wrapper-login">

    <div class="container container-login animated fadeIn" style="display: block;">

        <h3 class="text-center">Inicia sesión en con tu cuenta</h3>

        <form method="post">
            <div class="login-form">
                <div class="form-group">
                    <label for="username" class="placeholder"><b>Nombre de usuario</b></label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUserName" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password" class="placeholder"><b>Contraseña</b></label>
{#                    <a href="#" class="link float-right">Olvidé mi contraseña</a>#}
                    <div class="position-relative">
                        <input type="password" name="password" id="password" class="form-control" required>
                        <div class="show-password">
                            <i class="fas fa-eye"></i>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <div class="form-group form-action-d-flex mb-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="_remember_me" class="custom-control-input" id="rememberme">
                        <label class="custom-control-label m-0" for="rememberme">Recordar</label>
                    </div>
                    <button type="submit" class="btn btn-dark col-md-5 float-right mt-3 mt-sm-0 fw-bold">
                        <span class="btn-label">
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                        Entar
                    </button>
                </div>
            </div>
        </form>
    </div>

<script src="{{ asset('assets/js/core/jquery.3.2.1.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets/js/core/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/atlantis.min.js') }}"></script>

{% if error %}
    <script src="{{ asset('assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/blog/symfonyAuthentication/display.login.failed.error.messages.js') }}"></script>
{% endif %}
</body>
</html>