{% extends 'backoffice/_shared/list.base.html.twig' %}
{% block title %} Listado {{ sectionTtile }} {% endblock %}
{% block page_title %} {{ sectionTtile }} {% endblock  page_title %}
{% block table %}
    <table id="add-row"
           class="display table table-striped table-hover dataTable"
           role="grid"
           aria-describedby="add-row_info">
        <thead>
        <tr role="row">
            <th class="sorting_{{ toggleSort }} d-none d-sm-table-cell">
                <a href="{{ path(list_path) }}/page-1/order-licensePlate-{{ toggleSort }}/rows_per_page-{{ limit }}/{{ filters }}">
                    Dominio
                </a>
            </th>
            <th class="sorting_{{ toggleSort }} d-none d-sm-table-cell">
                <a href="{{ path(list_path) }}/page-1/order-licensePlate-{{ toggleSort }}/rows_per_page-{{ limit }}/{{ filters }}">
                    Origen
                </a>
            </th>
            <th class="sorting_{{ toggleSort }} d-none d-sm-table-cell">
                <a href="{{ path(list_path) }}/page-1/order-licensePlate-{{ toggleSort }}/rows_per_page-{{ limit }}/{{ filters }}">
                    Destino
                </a>
            </th>
            <th class="d-none d-sm-table-cell" style="width: 132.8px;">
                Acción
            </th>
        </tr>
        </thead>
        <tbody>
        {% for districtEntryAndExitOfVehicleControl in districtEntryAndExitOfVehiclesControl %}
            <tr role="row" class="odd"
                id="css-selector-for-tr-that_contains-items-to-delete-{{ districtEntryAndExitOfVehicleControl.id }}">
                <td class=" d-table-cell d-sm-none cursor-pointer"
                    data-toggle="modal"
                    data-target="#mobile-actions-modal"
                    data-edit_path="{{ path(edit_path, {'id': districtEntryAndExitOfVehicleControl.id}) }}"
                    data-delete_path="{{ path(delete_path) }}"
                    data-url_delete_confirmation_modal="{{ path(delete_confirmation_modal_path) }}"
                    data-css_selector_to_handle_tr_style_that_contains_items_to_delete="#css-selector-for-tr-that_contains-items-to-delete-{{ districtEntryAndExitOfVehicleControl.id }}"
                    data-id_to_delete="{{ districtEntryAndExitOfVehicleControl.id }}"
                    data-message_to_delete_confirmation='La provincia con el dominio "{{ districtEntryAndExitOfVehicleControl.licensePlate }}".'
                    data-modal_title='{{ districtEntryAndExitOfVehicleControl.licensePlate }}'
                >
                    <div class="row pt-2">
                        <div class="col-10"><b>{{ districtEntryAndExitOfVehicleControl.licensePlate }}</b></div>
                        <div class="col-2"><i class="fas fa-ellipsis-v"></i></div>
                    </div>
                </td>
                <td class="d-none d-sm-table-cell">{{ districtEntryAndExitOfVehicleControl.licensePlate }}</td>
                <td class="d-none d-sm-table-cell">
                    {{ districtEntryAndExitOfVehicleControl.tripOrigin.description }}
                </td>
                <td class="d-none d-sm-table-cell">
                    {{ districtEntryAndExitOfVehicleControl.tripDestination.description }}
                </td>
                <td class="d-none d-sm-table-cell">
                    <div class="d-block d-sm-none">
                        <button type="button" class="btn btn-link text-dark">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>

                    <div class="d-none d-sm-block">
                    <span class="form-button-dots">
                        <i class="fas fa-ellipsis-v"></i>
                    </span>
                        <span class="form-button-action">
                        <a href="{{ path(edit_path, {'id': districtEntryAndExitOfVehicleControl.id}) }}"
                           class="editItemLink btn btn-link btn-primary btn-lg">
                            <i class="fa fa-edit"></i>
                        </a>

                        <button type="button"
                                class="btn btn-link btn-danger shown-delete-confirmation-modal"
                                data-toggle="modal"
                                data-target="#delete-confirmation-modal"
                                data-delete_path="{{ path(delete_path) }}"
                                data-url_delete_confirmation_modal="{{ path(delete_confirmation_modal_path) }}"
                                data-css_selector_to_handle_tr_style_that_contains_items_to_delete="#css-selector-for-tr-that_contains-items-to-delete-{{ districtEntryAndExitOfVehicleControl.id }}"
                                data-id_to_delete="{{ districtEntryAndExitOfVehicleControl.id }}"
                                data-message_to_delete_confirmation='La provincia con la descripción "{{ districtEntryAndExitOfVehicleControl.licensePlate }}".'
                        >
                            <i class="fa fa-times"></i>
                        </button>
                    </span>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-center" colspan="3">
                    <i class="fas fa-exclamation-circle"></i> &nbsp;Ningún resultado encontrado.
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block filterFields %}
    <div class="form-group col-12 col-sm-4">
        <select name="filters[0][field]" id="field" class="form-control form-control-sm w-100">
            <option value="licensePlate" selected>Dominio</option>
        </select>
    </div>
    <div class="form-group col-12 col-sm-4">
        <select name="filters[0][operator]" id="operator" class="form-control  form-control-sm w-100">
            <option value="=">es exactamente igual a</option>
            <option value="CONTAINS">contiene</option>
            <option value="<>">es exactamente distinto a</option>
        </select>
    </div>
    <div class="form-group col-12 col-sm-4">
        <input name="filters[0][value]" type="text" class="form-control form-control-sm w-100" placeholder="Valor..">
    </div>
{% endblock %}
