<div class="modal-dialog">
    <div class="modal-content">
        <form action="{{ path(form_action)  }}" method="post" id="reset-password-form" novalidate="novalidate">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-sync-alt"></i> Restablecer Contraseña</h5>
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        id="close-create-category-modal-on-click-top-cross"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="hidden" name="id" value="{{ id }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token(id) }}">
                        <div class="form-group" >
                            <label>Nueva contraseña ( * )</label>
                            <div class="position-relative">
                                <input
                                        type="password"
                                        name="password"
                                        value=""
                                        maxlength="20"
                                        minlength="8"
                                        class="form-control"
                                        id="password"
                                        placeholder=" - Obligatorio -"
                                        required
                                >
                                <div class="show-password">
                                    <i class="fas fa-eye"></i>
                                </div>
                            </div>
                            <small class="form-text"><b>Tu contraseña debe contener:</b></small>
                            <small class="form-text text-muted"> &nbsp; <i id="atLeastEightCharacters"
                                                                           class="far fa-circle"></i> 8 o más
                                caracteres</small>
                            <small class="form-text text-muted"> &nbsp; <i id="atLeastOneNumber"
                                                                           class="far fa-circle"></i> Al menos un
                                número</small>
                            <small class="form-text text-muted"> &nbsp; <i id="atLeastOneCapital"
                                                                           class="far fa-circle"></i> Letras
                                mayúsculas y minúsculas</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn btn-focus"
                        data-dismiss="modal"
                        id="close-create-category-modal-on-click-button-cancel"
                >
                    <span class="btn-label">
                        <i class="fas fa-times-circle"></i>
                    </span>
                    Cerrar
                </button>
                <button
                        class="btn btn-primary"
                        id="create-category-submit"
                        type="submit"
                >
                    <span class="btn-label">
                        <i class="fas fa-sync-alt"></i>
                    </span>
                    Restablecer
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $.getScript("{{ asset('assets/js/atlantis.min.js') }}");
        $.getScript("{{ asset('assets/js/police/user/form/append.rules.on.form.validation.js') }}");
        $.getScript("{{ asset('assets/js/police/user/form/show.password.constraints.upfront.and.update.it.in.real.time.js') }}");
        $.getScript("{{ asset('assets/js/police/user/form/reset.password.on.confirm.yes.on.modal.js') }}");
    });
</script>