{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-inner">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card ">
                    <a href="{{ path('district_entry_and_exit_of_vehicles_control_list') }}" class="dashboard-shortcut">
                        <div class="card-body p-3 text-center">
                            <div class="text-right text-success">
                                &nbsp;
                            </div>
                            <div class="h1 "><i class="fas fa-clipboard-list"></i></div>
                            <div class=" mb-3 font-weight-bold">Control de ingresos</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card ">
                    <a href="{{ path('traffic_police_booth_list') }}" class="dashboard-shortcut">
                        <div class="card-body p-3 text-center">
                            <div class="text-right text-success">
                                &nbsp;
                            </div>
                            <div class="h1 "><i class="fas fa-store-alt"></i></div>
                            <div class=" mb-3 font-weight-bold">Puestos de control</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <a href="{{ path('user_list') }}" class="dashboard-shortcut">
                        <div class="card-body p-3 text-center">
                            <div class="text-right text-danger">
                                &nbsp;
                            </div>
                            <div class="h1 "><i class="fas fa-users"></i></div>
                            <div class="mb-3 font-weight-bold">Usuarios
                                <div class="d-block d-sm-none">&nbsp;</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <a href="{{ path('district_list') }}" class="dashboard-shortcut">
                        <div class="card-body p-3 text-center">
                            <div class="text-right text-danger">
                                &nbsp;
                            </div>
                            <div class="h1"><i class="fas fa-map-marked-alt"></i></div>
                            <div class="mb-3 font-weight-bold">Provincias
                                <div class="d-block d-sm-none">&nbsp;</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <a href="{{ path('reason_for_trip_list') }}" class="dashboard-shortcut">
                        <div class="card-body p-3 text-center">
                            <div class="text-right text-danger">&nbsp;</div>
                            <div class="h1">
                                <i class="fas fa-suitcase-rolling"></i>
                            </div>
                            <div class="mb-3 font-weight-bold">Motivo de viaje</div>
                            <div class="d-block d-sm-none">&nbsp;</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <a href="{{ path('vehicle_body_type_list') }}" class="dashboard-shortcut">
                        <div class="card-body p-3 text-center">
                            <div class="text-right text-danger">&nbsp;</div>
                            <div class="h1">
                                <i class="fas fa-car"></i>
                                <i class="fas fa-bus"></i>
                            </div>
                            <div class="mb-3 font-weight-bold">Tipo de vehiculo</div>
                            <div class="d-block d-sm-none">&nbsp;</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <a href="{{ path('reason_for_trip_list') }}" class="dashboard-shortcut">
                        <div class="card-body p-3 text-center">
                            <div class="text-right text-danger">
                                &nbsp;
                            </div>
                            <div class="h1">
                                <i class="fas fa-car" style="font-size: 20px;"></i>
                                <i class="fas fa-industry-alt " style="font-size: 32px;"></i>
                            </div>
                            <div class="mb-3 font-weight-bold">Marcas de vehiculos</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-6 col-sm-4 col-lg-2">
                <div class="card">
                    <a href="{{ path('model_of_vehicle_list') }}" class="dashboard-shortcut">
                        <div class="card-body p-3 text-center">
                            <div class="text-right text-danger">
                                &nbsp;
                            </div>
                            <div class="h1">
                                <i class="fas fa-car" style="font-size: 20px;"></i>
                                <i class="far fa-ballot" style="font-size: 32px;"></i>
                            </div>
                            <div class="mb-3 font-weight-bold">Modelos de vehiculos</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}