{% extends 'base.authentication.html.twig' %}
{% block body %}
    <div class="container container-login animated fadeIn" style="display: block;">

        <h3 class="text-center">
            <img src="https://i.imgur.com/Jxn9s5k.png" class="mb-2" width="97"/>
            <br>
            Restablezca su contraseña
        </h3>

        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError|raw }}</div>
        {% endfor %}

        <form id="form" method="post" novalidate="novalidate">
            <input type="hidden" name="id" value="{{ id }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token(id) }}">
            <div class="col-lg-12">
                <div class="form-group" {% if flash.has('errors.password') %} has-error {% endif %}">
                <label for="password">Nueva contraseña ( * )</label>
                <div class="position-relative">
                    <input
                            type="password"
                            name="password"
                            value=""
                            maxlength="20"
                            minlength="8"
                            class="form-control"
                            id="password"
                            placeholder=" - Obligatorio -"
                            required
                    />
                    <div class="show-password">
                        <i class="fas fa-eye"></i>
                    </div>
                </div>
                <small class="errorLabelContainer form-text text-muted text-danger">
                    {% if flash.has('errors.password') %}
                        <span class="has-error">{{ flash.get('errors.password') }} </span>
                    {% endif %}
                </small>
                <small class="form-text"><b>Tu contraseña debe contener:</b></small>
                <small class="form-text text-muted">
                    &nbsp; <i id="atLeastEightCharacters" class="far fa-circle"></i>
                    8 o máscaracteres
                </small>
                <small class="form-text text-muted">
                    &nbsp; <i id="atLeastOneNumber" class="far fa-circle"></i>
                    Al menos un número
                </small>
                <small class="form-text text-muted">
                    &nbsp; <i id="atLeastOneCapital" class="far fa-circle"></i>
                    Letrasmayúsculas y minúsculas
                </small>
            </div>
            <br>
            <a href="#" class="btn  text-dark col-6">
                        <span class="btn-label">
                            <i class="fas fa-times-circle"></i>
                        </span>
                Cancelar
            </a>
            <button
                    class="btn btn-success col-5"
                    type="submit"
                    id="submitBtn"
            >
                        <span class="btn-label">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                Restablecer
            </button>
        </form>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/police/user/form/show.password.constraints.upfront.and.update.it.in.real.time.js') }}"></script>
    <script src="{{ asset('assets/js/police/user/form/append.rules.on.form.validation.js') }}"></script>
{% endblock %}